language: go

go:
  - 1.12

env:
  global:
    - IMAGE_NAME=manuller/netcli

services:
  - docker

before_install:
  - cp .netrc ~/.netrc

install:
  - go get github.com/ma-null/net_cli/request
  - go get github.com/urfave/cli

script:
  - go test -v ./...
  - go build .
  - bash push.sh